body
{
    background-color: snow;
    width:auto;
    height:auto;
}
.top
{
    width:100%;
    background-color:#186871;
    margin-bottom:5px;
}
*{
    margin:0;
    padding:0;
}
.gg
{
  width:125px;
    height:44px;
   padding-left:35px;
   padding-top: 5px; 
}
.boy{
    display:flex;
    justify-content: space-between;
    align-items: center;
    place-content:center;
    height: 90vh;
}
.girl
{
    width:510px;
    height:320px;
    margin:auto;
}
.form
{
    width:515px;
    height:415px;
    background-color: whitesmoke;
    border-radius:8px 8px 8px 8px;
    margin:auto;
}
.inside
{
    padding:30px;
}
h1
{
    margin-top:1px;
     font-family: Comic Sans MS;
          
    font-size: 18px;
    color:black;
    text-align: center;
    
}
input
{
    padding:7px 7px 7px 7px;
    margin:7px 7px 7px 7px;
    
}
#tch
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:110px;
    height:32px;
    border-color:snow; 
    font-family: sans-serif;
    font-size: 14px;
}

#tch:hover{
    background-color:black;
    color:snow;
}

#sc
{
    background-color:snow;
   border-radius:8px 8px 8px 8px;
    width:90px;
    height:32px;
    font-size: 14px;
    border-color:snow;
    font-family: sans-serif;
       
}
#sc:hover
{
    background-color:black;
    color:snow;
}
#edu
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:95px;
    font-size: 14px;
    height:32px;
    border-color:snow;
    font-family: sans-serif;
}
#edu:hover
{
     background-color:black;
     color:snow;
}
#he
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:88px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#he:hover
{
     background-color:black;
     color:snow;
}
#fn
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:88px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#fn:hover
{
    background-color:black;
     color:snow;
}

 #etn  
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:125px;
    height:32px;
    font-size: 14px;
    border-color:snow;
    font-family: sans-serif;
}
 #etn:hover
{
    background-color:black;
     color:snow;
}
#sp
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:83px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#sp:hover
{
    background-color:black;
    color:snow;
}
#fnc
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:90px;
    height:32px;
    font-size: 14px;
    border-color:snow;
    font-family: sans-serif;
}
#fnc:hover
{
    background-color:black;
    color:snow;
}
#ce
{
    background-color:snow;
        border-radius:8px 8px 8px 8px;

             
    width:164px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}

#ce:hover{
    background-color:black;
    color:snow;
}
#agr
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:105px;
    font-size: 14px;
    height:32px;
    border-color:snow; 
    font-family: sans-serif;
}
#agr:hover{
    background-color:black;
    color:snow;
}
#tv
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:94px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#tv:hover
{
    background-color:black;
    color:snow;
}
#cu
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:90px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#cu:hover
{
    background-color:black;
    color:snow;
}
#nu
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:90px;
    font-size: 14px;
    height:32px;
    border-color:snow; 
    font-family: sans-serif;
}
#nu:hover{
    background-color:black;
    color:snow;
}
#art
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:77px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#art:hover{
    background-color:black;
    color:snow;
}
#pth
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:115px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#pth:hover{
    background-color:black;
    color:snow;
}
#fs
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:95px;
    height:32px;
    font-size: 14px;
    border-color:snow;
    font-family: sans-serif;
}
#fs:hover
{
    background-color:black;
    color:snow;
}
#plt{
    background-color:snow;
   border-radius:8px 8px 8px 8px;
    width:95px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#plt:hover{
    background-color:black;
    color:snow;
}
#os
{
    background-color:snow;
    border-radius:8px 8px 8px 8px;
    width:94px;
    height:32px;
    font-size: 14px;
    border-color:snow; 
    font-family: sans-serif;
}
#os:hover{
    background-color:black;
    color:snow;
}
#btn
{
    background-color:#186871;
    border-radius:8px 8px 8px 8px;
    width:250px;
    height:36px;
    border-color:snow; 
    font-size: 16px;
    margin-left: 98px;
    margin-top:42px;
    font-family: sans-serif;
    color:black;
}
#btn:hover{
   
    color:snow;
}
@media only screen and (max-width: 1120px) {
    .girl {display:none;}
    
}
