::placeholder {
    font-size: 1em;
    padding: 2px;
}

body {
    font-family: Comic Sans MS;
    margin: 0;
}
.Head {
    background-color: #186871;
    height: 50px;
}
h2 {
    opacity: 0.6;
}

.img {
    margin-top: 150px;
    margin-left: 40px;
}
.img,
.Box {
    float: left;
}

.Box {
    background-color: ghostwhite;
    border: none;
    width: 500px;
    text-align: center;

    margin-top: 150px;
    margin-left: 100px;

    box-shadow: 0 5px px rgba(0, 0, 0.1, 0);

    border-radius: 5px;
    letter-spacing: 0.5px;
}
.box_diff {
    margin-top: 20px;
    height: 30px;
    width: 325px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    padding: 3px 10px;
    letter-spacing: 0.5px;
    opacity: 0.6;
}
.SignUp_button {
    border: none;
    outline: none;

    margin-top: 20px;
    padding: 10px 152px;
    background-color: #186871;
    color: aliceblue;
    border-radius: 5px;
    letter-spacing: 0.5px;
}
.SignUp_button:hover {
    cursor: pointer;
    background: #186871;
    color: black;
}
a:hover {
    color: #186871;
}

span {
    position: absolute;
    transform: translate(-170%, 110%);

    cursor: pointer;
}
.fa {
    font-size: 20px;
    color: #7a797e;
}
#hidden1 {
    display: none;
}
.eye {
    position: absolute;
    transform: translate(-170%, 140%);
}
input {
    letter-spacing: 10px;
}

#hidden3 {
    display: none;
}
@media screen and (max-width: 400px) {
}
/* why  handler is so important for th class
and block is right





thnaks */
